# Q1. Create one variable containing following type of data:

## (i) string

In [1]:
a_string = 'Aditya'

## (ii) list

In [2]:
a_list = ['Aditya','PWSkills','Data Science Masters', 2.0, 'May', 22]

## (iii) float

In [3]:
a_float = 2.0

## (iv) tuple

# Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘
## (ii) var2 = ‘[ DS , ML , Python]’
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
## (iv) var4 = 1.
## What will be the data type of the above given variable.

In [7]:
var1 = ' '
type(var1)

str

In [9]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [11]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [12]:
var4 = 1.
type(var4)

float

# Q3. Explain the use of the following operators using an example:

`/` operator helps in performing divisions

## (i) /

In [13]:
100/8

12.5

## (ii) %

`%` helps to obtain the remainder in a division

In [14]:
95%4

3

`//` helps to obtain the quotient in a division

## (iii) //

In [15]:
95//4

23

## (iv) **

`**` calculates the nth power of a number

In [17]:
3.14**2

9.8596

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [24]:
a_list_of_length_10 = ['Aditya', 'started', 'on', 22.5, 2023, 6, 7, 98, 1.7+2.3j, ['Hi', 'there!']]
for element in a_list_of_length_10:
    print('Element: ', element)
    print('Data Type: ', type(element))
    print('\n')

Element:  Aditya
Data Type:  <class 'str'>


Element:  started
Data Type:  <class 'str'>


Element:  on
Data Type:  <class 'str'>


Element:  22.5
Data Type:  <class 'float'>


Element:  2023
Data Type:  <class 'int'>


Element:  6
Data Type:  <class 'int'>


Element:  7
Data Type:  <class 'int'>


Element:  98
Data Type:  <class 'int'>


Element:  (1.7+2.3j)
Data Type:  <class 'complex'>


Element:  ['Hi', 'there!']
Data Type:  <class 'list'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [50]:
A = int(input('Input a number for A: '))
B = int(input('Input a number for B: '))

count = 0
while A%B == 0:
    A = A//B
    rem = A%B
    count += 1
    if rem == 0:
        pass
    else:
        print('Number of complete divisions: ', count)
        break
else:
    print(A, 'is not divisible by ', B)

Input a number for A:  48
Input a number for B:  8

Number of complete divisions:  1

In [51]:
a_list_25 = list(range(25))
for element in a_list_25:
    if element%3==0:
        print(element, 'is divisible by 3')
    else:
        print(element, 'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable objects can be changed after they are created, while immutable objects cannot.

In [52]:
mutable_list = ['Daredevil', 'Punisher', 'Moonknight']
mutable_list[1] = 'Jessica'
mutable_list

['Daredevil', 'Jessica', 'Moonknight']

In [ ]:
immutable = 'Walter White'
immutable[]